.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-container{
    width: 100%;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 4rem;;
}
.main-img{
    position: absolute;
    width: 446px;
    height: 594px;
}
.description{
    
    padding: 2rem;;
}